body {
    font-family: "Raleway", sans-serif;

    #map {
        width: 90%;
        height: 20rem;
        border: 1px solid #ccc;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    #form {
        form {

            text-align: center;
            margin: 2rem auto;

        }
    }
}